# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


# clau9-bklfo
# c0yyf-ui0nu
# 3fvhi-row2g
# qpcui-heiaj
# nkev0-wqp4h
# 651bt-oibzo
# 8y9p9-kmcvq
# xronq-romme
# iyzbb-f7vlj
# qwew9-k4vf6
